.spinner {
  max-height: 100% !important;
}
.wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #eeeded38;
}
.container {
  width: 1500px;
  height: 1500px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top:20px;
  padding-bottom: 20px;
}
.bubbles{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
  padding-right: 100px;
  padding-left: 100px;
}

.button {
  display: flex;
  justify-content: center;
}
