.wrapper {
  max-height: 130px;
  max-width: 130px;
  margin: 20px;
  gap: 10px;
  position: relative;
}


.wrapper > span {
  text-align: center;
  font-weight: 500;
  padding: 5px;
  background-color: #fff;
  border-radius: 2px;
  white-space: nowrap;
}
.content {
  max-width: 80px;
  max-height: 80px;
  border-radius: 50%;
  background: #eeeded;
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.content > span{
  white-space: nowrap;
  padding: 5px;
  border-radius: 2px;
  background: #fff;
}

.content:hover{
  transform: scale(1.1) !important;
  transition: .3s;
}
.content:hover .comment{
  width: 150px;
}

.wrapper img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.comment {
  position: absolute;
  width: 0;
  top: 0;
  left: 80%;
  background: rgb(0, 162, 255);
  border-radius: 15px 15px 15px 0;
  color: #fff;
  overflow: hidden;
  transition: .5s;
}

.comment >span {
  white-space: nowrap;
  display: inline-block;
  padding: 10px;
}
